################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UpVotes.Services/v15/Server/sqlite3
/.vs/UpVotes.Services/v15
/UpVotes.BusinessServices/bin/Release
/UpVotes.BusinessServices/obj/Release
/UpVotes.BussinessEntities/bin/Release
/UpVotes.BussinessEntities/obj/Release
/UpVotes.DataModel/obj
/UpVotes.Resolver/obj
/UpVotes.WebAPI/obj
*.pdb
*.dll
